<!--Carrusel-->

<ngb-carousel>
    <!--Primer elemento del carrusel-->
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/Carrusel/Carrusel1.jpeg" alt="Libro Chuck Hogan">
      </div>
    </ng-template>
    <!--Segundo elemento del carrusel-->
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/Carrusel/Carrusel2.jpeg" alt="Libro El Universo Segun Carlota">
      </div>
    </ng-template>
    <!--Tercer elemento del carrusel-->
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../../assets/Carrusel/Carrusel3.jpeg" alt="Libro la esposa del pricionero">
        </div>
    </ng-template>
</ngb-carousel>