.contenedor{
    margin-left: 30%;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 40%;
    height: 100%;
    background-color:#D9D6D2;
    padding:20px;
    border-radius: 30px;
    border: 1px solid #D9D6D2;
}
.formulario{
    padding-bottom:10px;
    padding-left: 10%;
    padding-right: 10%;
}
ul{
    list-style: none;
}

#estiloNombre{
    padding-right:3%;
}
#estiloPais{
    padding-right:33%;
}
#estiloObservacion{
    padding-right:16%;
}
#boton{
    text-align: center;
}
button{
    padding-left: 3%;
    padding-right: 3%;
    padding-top:1%;
    padding-bottom: 1%;
    border:1px solid #969a9d;
    background-color:#D9D6D2;
}
button:hover{
    background-color:#008270;
    border: 1px solid #7ad3c1;
    color:#D9D6D2;
}